@font-face {
  font-family: 'iconfont';  /* project id 616166 */
  src: url('//at.alicdn.com/t/font_616166_8qwfl3vqjghf47vi.eot');
  src: url('//at.alicdn.com/t/font_616166_8qwfl3vqjghf47vi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_616166_8qwfl3vqjghf47vi.woff') format('woff'),
  url('//at.alicdn.com/t/font_616166_8qwfl3vqjghf47vi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_616166_8qwfl3vqjghf47vi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-material:before { content: "\e600"; }

.icon-add-img:before { content: "\e601"; }

.icon-add:before { content: "\e641"; }

.icon-sub:before { content: "\e643"; }

.icon-redo:before { content: "\e6ed"; }

.icon-selected:before { content: "\e60d"; }

.icon-ref-grid:before { content: "\e642"; }

.icon-delete:before { content: "\e619"; }

.icon-undo:before { content: "\e618"; }

.icon-best-size:before { content: "\e613"; }

.icon-arrow-left:before { content: "\e605"; }

.icon-shape:before { content: "\e62f"; }

.icon-save:before { content: "\e606"; }

.icon-copy:before { content: "\e668"; }

.icon-text:before { content: "\e649"; }

.icon-line:before { content: "\e64b"; }

.icon-publish:before { content: "\e6a0"; }

.icon-pic:before { content: "\e67b"; }

