// 深藏青
$color-dark-navy = #2c4756

// 中藏青
$color-mid-navy = #5e8194

// 浅藏青
$color-light-navy = #a1bccb

// 藏青
$color-navy = #395c6f

// 藏蓝
$color-purplish-blue = #1d3b79

// 深灰
$color-dark-grey = #3c3c3c

// 中灰
$color-mid-grey = #646464

// 浅灰
$color-light-grey = #a8a8a8

// 淡灰
$color-weak-grey = #e1e1e1

// 背景灰
$color-bg-grey = #f8f8f8

// 深蓝
$color-dark-blue = #22b5ff

// 浅蓝
$color-light-blue = #50d8ff

// 橙色
$color-orange = #ff8a01

// 纯白
$color-white = #fff

// 纯黑
$color-black = #000

// 蛋黄
$color-yellow = #ffd25f

//紫色
$color-purple = #5c87ef

//绿色
$color-green = #74E369


// 主蓝色
$color-blue = #3B74F1
// 失效颜色
$color-fail = #bfeafe
// 橙色
$color-orange = #feb400
// 错误颜色
$color-error = #fa7088
// 字体主颜色
$color-dark-grey = #333333
$color-mid-grey = #666666
$color-light-grey = #a5a5a5
// 提示
$text-tip = #b0b0ae
// 边界、分割
$color-border = #f4f4f4
$color-line = #e5e5e5
// 背景
$color-bg-grey = #f9fbfc
$color-bg-blue = #f1f9ff

$color-blue-light = rgba(59, 116, 241, .8)
$color-transparent = #ffffffff
