.el-pagination
  padding: 0
  .btn-prev, .btn-next
    height: 30px
    width: 30px
    margin-right: 10px
    border: 1px solid #e5e5e5
    border-radius: 5px
  .el-pager
    > li
      height: 30px
      margin-right: 10px
      border: none
      border-radius: 5px
      font-size: 14px
      color: #a5a5a5
      border: 1px solid #e5e5e5
    .active
      background: #24b9ff
      color: #ffffff
      border: none
  .el-icon-arrow-left, .el-icon-arrow-right
    font-size: 14px
    color: #a5a5a5

.el-pagination
  .el-select
    .el-input
      input
        height: 30px
        border-radius: 5px
        font-size: 14px
        color: $color-dark-grey
.el-select
  .el-tag
    line-height: 23px !important
.el-pagination__jump
  font-size: 14px !important
  .el-pagination__editor
    height: 30px
    border-radius: 5px
    font-size: 14px
    color: $color-dark-grey